[MASTER]
ignore=migrations,venv,venv311,.venv
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]
disable=
    C0111,  # missing-docstring
    C0103,  # invalid-name
    R0903,  # too-few-public-methods
    R0913,  # too-many-arguments
    W0212,  # protected-access

[FORMAT]
max-line-length=100
indent-string='    '

[BASIC]
good-names=i,j,k,ex,Run,_,id,db,pk

[TYPECHECK]
ignored-modules=asyncpg,tortoise

